$color-blue: #0095F6;
$color-dark-blue: #00376B;

$color-black: #262626; 

$color-gray: #DBDBDB; 
$color-light-gray: #FAFAFA; 
$color-light-gray2: #EFEFEF; 
$color-dark-gray: #8E8E8E; 

$color-white: #ffffff; 

$color-red: #ED4956;